*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    max-width: 1280px;

}
.header-container{
    width: 100%;
    height: 70%;
    margin: 0 0 0 20px;
    z-index: 10;
    background-color: #ffff;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
}
.logo{
    display: flex;
    align-items: center;
}

.container-item ul{
    display: flex;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    gap:25px;
    
}
.container-item{
    display: flex;
    align-items: center;
    background-color: #FFF;

}
.container-item-2{
    display: flex;
    align-items: center;
    gap: 45px;
}
/* searchg bar */
.search-bar{
    border-radius: 5px;
    background-color: rgb(228, 240, 240);
    padding: 5px 7px
}
.search-bar input{
    border: none;
    border-radius: 5px;
    background-color: rgb(228, 240, 240);
    padding: 3px;
    outline: none;
}
/* login button */
.login-btn{
    padding: 5px;
    background-color: #F94A3D;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}
.container-desc{
    position: absolute;
    /* top: 10px; */
}
.desc-item1{
    display: flex;
    align-items: center;
}
.container-desc {
    max-width: 1180px;
    /* position: fixed; */
    display: flex;
    align-items: center;
    margin: 0px 20px 30px 120px;
}
.desc-item-1 h3::after{
    content: 'your door';
    color: #F94A3D;
}
.desc-item1{
    width: 207px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 23px;
    background: #FDECEC;
}
.desc-item1 span{
    padding: 0px 20px;
    color: #F94A3D;
    font-weight: 500;
}
.desc-item1 svg{
    background-color: #FFF;
    border-radius: 50px;
}
.desc-item-1 h3{
    color: #212244;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
}
.desc-details {
    width: 520px;
}
.desc-details p{
    color: #69697B;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.container-desc button{
    margin: 10px 0px;
    background-color: #F94A3D;
    padding: 10px;
    color: #FDECEC;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}
main{
    width: 100%;
    position: absolute;
    top: 700px;
}
.main-container{
    display: flex;
   
    margin: 0px 20px 30px 120px;
}
.main-card{
   width: 250px;
   padding: 4px;
    box-shadow:  3px 4px #eae5e5;
}
.main-desc h3{
    color: #212244;
    width: 337px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 58px;
}
.main-desc p{
    width: 330px;
    color: #69697B;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 31px;
}
.card{
    display: flex;
    gap: 10px;
}
.card-image svg{
    width: 168px;
    height: 179px;
    padding: 4px;
}
.card-disc{
    padding: 14px;
}
.card-disc span{
    width: 216px;
    color: #212244;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 133.333% */
}
.main-container-2{
    display: flex;
  justify-content: center;
  
   margin: 0px 20px 30px 120px;
    
}
.main-container-2 h2{
  font-size: 2rem;
  margin-left: 300px;
  justify-items: center;
}
.main-list-food {
    width: 100%;
    border-bottom: 2px solid rgb(181, 173, 173);
}
.main-container-2 ul{
    margin-top: 20px;
    display: flex;
    list-style: none;
    gap: 120px;
    justify-items: center;
}
.food-card{
    box-shadow: 2px 5px #eae5e5;
    margin-top: 20px;
    padding: 20px 40px;
}
.rating{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.food-desc .food-heading{
    font-size: 1rem;
    font-weight: bold;
}
.food-desc .food-price{
    margin: 5px 20px;
}
.food-desc .food-price span{
    color: #F94A3D;
}
.food-desc button{
    margin: 2px 30px;
    border: 1px solid #F94A3D;
    border-radius: 5px;
    padding: 4px 7px;
    background-color: #FFF;
}
.food-card-main {
    display: flex;
    gap: 20px;
}